body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .bg-image {
    background-image: url('./test.jpe');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    color: rgb(10, 10, 10);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar a {
    text-decoration: none;
    color: rgb(17, 16, 16);
    padding: 0 1em;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .content h1 {
    font-size: 2em;
  }
  .content p {
    font-size: 1em;
  }
  .btn {
    padding: 1em 2em;
    background: none;
    border: 1px solid rgb(14, 13, 13);
    color: rgb(26, 24, 24);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1em;
  }